<section id="landingHero" class="section-py landing-hero position-relative">
  <img
          src="{{ '/assets/img/front-pages/backgrounds/hero-bg-light.png' | relative_url }}"
          alt="hero background"
          class="position-absolute top-0 start-0 w-100 h-100 z-n1"
          data-speed="1"
          data-app-light-img="front-pages/backgrounds/hero-bg-light.png"
          data-app-dark-img="front-pages/backgrounds/hero-bg-dark.png" />
  <div class="container">
    <div class="hero-text-box text-center">
      <h3 class="text-primary hero-title fs-2">
        {{ site.data[page.lang].hero.title }}
      </h3>
      <h2 class="h6 mb-8">
        {{ site.data[page.lang].hero.subtitle }}
      </h2>
      <a href="https://lite.knockg.com" class="btn btn-lg btn-primary">
        {{ site.data[page.lang].hero.button_text }}
      </a>
    </div>
    <div class="position-relative hero-animation-img">
      <a href="/" target="_blank">
        <div class="hero-dashboard-img text-center">
          <img
                  src="{{ '/assets/img/front-pages/landing-page/tmp-background.png' | relative_url }}"
                  alt="hero dashboard"
                  class="animation-img"
                  data-speed="2"
                  data-app-light-img="front-pages/landing-page/tmp-background.png"
                  data-app-dark-img="front-pages/landing-page/tmp-background.png" />
        </div>
        <div class="position-absolute hero-elements-img">
          <img
                  src="{{ '/assets/img/front-pages/landing-page/tmp-overlay.png' | relative_url }}"
                  alt="hero elements"
                  class="animation-img"
                  data-speed="4"
                  data-app-light-img="front-pages/landing-page/tmp-overlay.png"
                  data-app-dark-img="front-pages/landing-page/tmp-overlay.png" />
        </div>
      </a>
    </div>
  </div>
</section>
