<section id="landingFeatures" class="section-py landing-features">
  <div class="container">
    <h6 class="text-center d-flex justify-content-center align-items-center mb-6">
      <img
        src="{{ '/assets/img/front-pages/icons/section-tilte-icon.png' | relative_url }}"
        alt="section title icon"
        class="me-3" />
      <span class="text-uppercase">{{ site.data[page.lang].features.section_title }}</span>
    </h6>
    <h5 class="text-center mb-2">
      <span class="display-5 fs-4 fw-bold">{{ site.data[page.lang].features.main_title }}</span>
    </h5>
    <p class="text-center fw-medium mb-4 mb-md-12">
      {{ site.data[page.lang].features.main_description }}
    </p>
    <div class="features-icon-wrapper row gx-0 gy-12 gx-sm-6 mt-n4 mt-sm-0">
      <div class="col-lg-4 col-sm-6 text-center features-icon-box">
        <div class="features-icon mb-4">
          <img
            src="{{ '/assets/img/front-pages/icons/laptop-charging.png' | relative_url }}"
            alt="laptop charging" />
        </div>
        <h5 class="mb-2">{{ site.data[page.lang].features.feature_1_title }}</h5>
        <p class="features-icon-description" style="text-align: justify;">
          {{ site.data[page.lang].features.feature_1_description }}
        </p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center features-icon-box">
        <div class="features-icon mb-4">
          <img
            src="{{ '/assets/img/front-pages/icons/transition-up.png' | relative_url }}"
            alt="transition up" />
        </div>
        <h5 class="mb-2">{{ site.data[page.lang].features.feature_2_title }}</h5>
        <p class="features-icon-description" style="text-align: justify;">
          {{ site.data[page.lang].features.feature_2_description }}
        </p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center features-icon-box">
        <div class="features-icon mb-4">
          <img
            src="{{ '/assets/img/front-pages/icons/google-docs.png' | relative_url }}"
            alt="google docs" />
        </div>
        <h5 class="mb-2">{{ site.data[page.lang].features.feature_3_title }}</h5>
        <p class="features-icon-description" style="text-align: justify;">
          {{ site.data[page.lang].features.feature_3_description }}
        </p>
      </div>
    </div>
  </div>
</section>
