<section id="landingCTA" class="section-py landing-cta p-lg-0 pb-0 position-relative">
  <img
    src="{{ '/assets/img/front-pages/backgrounds/cta-bg.png' | relative_url }}"
    class="position-absolute bottom-0 end-0 scaleX-n1-rtl h-100 w-100 z-n1"
    alt="cta image" />
  <div class="container">
    <div class="row align-items-center gy-5 gy-lg-0">
      <div class="col-lg-6 text-center text-lg-start">
        <h3 class="display-5 text-primary fw-bold mb-1 h3">{{ site.data[page.lang].cta.title }}</h3>
        <p class="fw-medium mb-6 mb-md-8">{{ site.data[page.lang].cta.description }}</p>
        <a href="https://lite.knockg.com" class="btn btn-primary">
          {{ site.data[page.lang].cta.button_1 }}
          <i class="ri-arrow-right-line ri-16px ms-2 scaleX-n1-rtl"></i>
        </a>
        <a href="https://www.knockg.com" class="btn btn-primary">
          {{ site.data[page.lang].cta.button_2 }}
          <i class="ri-arrow-right-line ri-16px ms-2 scaleX-n1-rtl"></i>
        </a>
      </div>
      <div class="col-lg-6 pt-lg-12 text-center">
        <img
          src="{{ '/assets/img/front-pages/landing-page/tmp-background.png' | relative_url }}"
          alt="cta dashboard"
          class="img-fluid" />
      </div>
    </div>
  </div>
</section>
