<section id="landingPricing" class="section-py bg-body landing-pricing">
  <div class="container bg-icon-left position-relative">
    <img
      src="{{ '/assets/img/front-pages/icons/bg-left-icon-light.png' | relative_url }}"
      alt="section icon"
      class="position-absolute top-0 start-0"
      data-speed="1"
      data-app-light-img="front-pages/icons/bg-left-icon-light.png"
      data-app-dark-img="front-pages/icons/bg-left-icon-dark.png" />
    <h6 class="text-center d-flex justify-content-center align-items-center mb-6">
      <img
        src="{{ '/assets/img/front-pages/icons/section-tilte-icon.png' | relative_url }}"
        alt="section title icon"
        class="me-3" />
      <span class="text-uppercase">Pricing Plans</span>
    </h6>
    <h5 class="text-center mb-2">
      <span class="display-5 fs-4 fw-bold">Tailored pricing plans</span> designed for you
    </h5>
    <p class="text-center fw-medium mb-10 mb-md-12 pb-lg-4">
      All plans include 40+ advanced tools and features to boost your product.<br />
      the best plan to fit your needs.
    </p>
    <div id="slider-pricing" class="mb-10 mb-md-12"></div>
    <div class="row gy-6 pt-md-4">
      <!-- Basic Plan -->
      <div class="col-xl-4 col-lg-6">
        <div class="card shadow-none border">
          <div class="card-header border-0 p-6 p-sm-8">
            <h4 class="mb-2 pb-1 text-center">Basic Plan</h4>
            <div class="d-flex align-items-center">
              <h5 class="d-flex mb-0"><sup class="h5 mt-4">$</sup><span class="display-3 fw-bold">20</span></h5>
              <div class="ms-2 ps-1">
                <h6 class="mb-1">Per month</h6>
                <p class="small mb-0 text-body">10% off for yearly subscription</p>
              </div>
            </div>
            <img src="{{ '/assets/img/front-pages/icons/smiling-icon.png' | relative_url }}" alt="smiling icon" />
          </div>
          <div class="card-body p-6 p-sm-8 pt-0">
            <ul class="list-unstyled">
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  Timeline
                </h5>
              </li>
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  Basic search
                </h5>
              </li>
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  Live chat widget
                </h5>
              </li>
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  Email marketing
                </h5>
              </li>
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  Custom Forms
                </h5>
              </li>
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  Traffic analytics
                </h5>
              </li>
            </ul>
            <hr />
            <div class="d-flex justify-content-between align-items-center flex-wrap">
              <div class="me-1">
                <h6 class="mb-1">Basic Support</h6>
                <p class="small mb-0">Only Email</p>
              </div>
              <span class="badge bg-label-primary rounded-pill">AVG. Time: 24h</span>
            </div>
            <div class="text-center mt-6 pt-2">
              <a href="payment-page.html" class="btn btn-outline-primary w-100">Get Started</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Favourite Plan -->
      <div class="col-xl-4 col-lg-6">
        <div class="card border-primary border-2 shadow-none">
          <div class="card-header border-0 p-6 p-sm-8">
            <h4 class="mb-2 pb-1 text-center">Favourite Plan</h4>
            <div class="d-flex align-items-center">
              <h5 class="d-flex mb-0"><sup class="h5 mt-4">$</sup><span class="display-3 fw-bold">51</span></h5>
              <div class="ms-2 ps-1">
                <h6 class="mb-1">Per month</h6>
                <p class="small mb-0 text-body">10% off for yearly subscription</p>
              </div>
            </div>
            <img src="{{ '/assets/img/front-pages/icons/smiling-icon.png' | relative_url }}" alt="smiling icon" />
          </div>
          <div class="card-body p-6 p-sm-8 pt-0">
            <ul class="list-unstyled">
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  Everything in basic
                </h5>
              </li>
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  Timeline with database
                </h5>
              </li>
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  Advanced search
                </h5>
              </li>
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  Marketing automation
                </h5>
              </li>
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  Advanced chatbot
                </h5>
              </li>
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  Campaign management
                </h5>
              </li>
            </ul>
            <hr />
            <div class="d-flex justify-content-between align-items-center flex-wrap">
              <div class="me-1">
                <h6 class="mb-1">Standard Support</h6>
                <p class="small mb-0">Email & Chat</p>
              </div>
              <span class="badge bg-label-primary rounded-pill">AVG. Time: 6h</span>
            </div>
            <div class="text-center mt-6 pt-2">
              <a href="payment-page.html" class="btn btn-primary w-100">Get Started</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Standard Plan -->
      <div class="col-xl-4 col-lg-6">
        <div class="card shadow-none border">
          <div class="card-header border-0 p-6 p-sm-8">
            <h4 class="mb-2 pb-1 text-center">Standard Plan</h4>
            <div class="d-flex align-items-center">
              <h5 class="d-flex mb-0"><sup class="h5 mt-4">$</sup><span class="display-3 fw-bold">99</span></h5>
              <div class="ms-2 ps-1">
                <h6 class="mb-1">Per month</h6>
                <p class="small mb-0 text-body">10% off for yearly subscription</p>
              </div>
            </div>
            <img src="{{ '/assets/img/front-pages/icons/smiling-icon.png' | relative_url }}" alt="smiling icon" />
          </div>
          <div class="card-body p-6 p-sm-8 pt-0">
            <ul class="list-unstyled">
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  Everything in premium
                </h5>
              </li>
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  Timeline with database
                </h5>
              </li>
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  Fuzzy search
                </h5>
              </li>
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  A/B testing sandbox
                </h5>
              </li>
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  Custom permissions
                </h5>
              </li>
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  Social media automation
                </h5>
              </li>
            </ul>
            <hr />
            <div class="d-flex justify-content-between align-items-center flex-wrap">
              <div class="me-1">
                <h6 class="mb-1">Exclusive Support</h6>
                <p class="small mb-0">Email, Chat & Google Meet</p>
              </div>
              <span class="badge bg-label-primary rounded-pill">Live Support</span>
            </div>
            <div class="text-center mt-6 pt-2">
              <a href="payment-page.html" class="btn btn-outline-primary w-100">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
