<section id="landingReviews" class="section-py bg-body landing-reviews">
  <div class="container">
    <h6 class="text-center d-flex justify-content-center align-items-center mb-6">
      <img
        src="{{ '/assets/img/front-pages/icons/section-tilte-icon.png' | relative_url }}"
        alt="section title icon"
        class="me-3" />
      <span class="text-uppercase">Real user reviews</span>
    </h6>
    <h5 class="text-center mb-2">
      <span class="display-5 fs-4 fw-bold">종양, 뇌·신경, 대사질환</span>등 사용사례
    </h5>
    <p class="text-center fw-medium mb-4 mb-md-12">
      다양한 질환에서 생성 데이터의 정확성, 데이터 분석을 통한 시간 및 비용절감 효과를 확인하였습니다.
    </p>
  </div>
  <div class="swiper-reviews-carousel overflow-hidden mb-12 pt-4">
    <div class="swiper" id="swiper-reviews">
      <div class="swiper-wrapper">
        <!-- Review 1 -->
        <div class="swiper-slide">
          <div class="card h-100">
            <div class="card-body text-body d-flex flex-column justify-content-between text-center p-8">
              <div class="mb-4">
                <img
                  src="{{ '/assets/img/front-pages/branding/DGIST_logo.png' | relative_url }}"
                  alt="client logo"
                  class="client-logo img-fluid" />
              </div>
              <h6 style="text-align: justify;">
                전립선 암에서의 공동연구를 진행하였으며, 생성된 녹다운 데이터의 비교 분석을 통해 10개의 타겟 유전자를 발굴, 6개의 알려진 유전자를 제외하고 4개의 유전자에 대한 세포/동물 실험을 거쳐 2개의 신규 유전자를 발굴하였습니다.
              </h6>
              <div class="text-warning mb-4">
                <i class="tf-icons ri-star-fill ri-24px"></i>
                <i class="tf-icons ri-star-fill ri-24px"></i>
                <i class="tf-icons ri-star-fill ri-24px"></i>
                <i class="tf-icons ri-star-fill ri-24px"></i>
                <i class="tf-icons ri-star-fill ri-24px"></i>
              </div>
              <div>
                <h6 class="mb-0">연구원 A</h6>
                <p class="mb-0 small">석사후연수연구원</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Review 2 -->
        <div class="swiper-slide">
          <div class="card h-100">
            <div class="card-body text-body d-flex flex-column justify-content-between text-center p-8">
              <div class="mb-4">
                <img
                  src="{{ '/assets/img/front-pages/branding/KBRI_logo.png' | relative_url }}"
                  alt="client logo"
                  class="client-logo img-fluid" />
              </div>
              <h6 style="text-align: justify;">
                공개된 운동뉴런 전사체 데이터를 활용해 생성 인공지능을 학습하고, 생성된 데이터의 비교분석을 통해 4개의 신규 타겟 유전자를 획득하였습니다. 관련 결과를 과제 지원 등에 활용하고 있습니다.
              </h6>
              <div class="text-warning mb-4">
                <i class="tf-icons ri-star-fill ri-24px"></i>
                <i class="tf-icons ri-star-fill ri-24px"></i>
                <i class="tf-icons ri-star-fill ri-24px"></i>
                <i class="tf-icons ri-star-fill ri-24px"></i>
                <i class="tf-icons ri-star-fill ri-24px"></i>
              </div>
              <div>
                <h6 class="mb-0">연구원 B</h6>
                <p class="mb-0 small">선임연구원</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Review 3 -->
        <div class="swiper-slide">
          <div class="card h-100">
            <div class="card-body text-body d-flex flex-column justify-content-between text-center p-8">
              <div class="mb-4">
                <img
                  src="{{ '/assets/img/branding/sp_logo_resized.png' | relative_url }}"
                  alt="client logo"
                  class="client-logo img-fluid" />
              </div>
              <h6>
                간암, 알츠하이머 성 치매에서 성공적으로 신규 타겟 기반 신약 재창출을 수행하였으며, 여러 연구기관 및 병원과의 협업을 통해 비소세포성폐암과 케네디 병 등의 질환연구를 진행하고 있습니다.
              </h6>
              <div class="text-warning mb-4">
                <i class="tf-icons ri-star-fill ri-24px"></i>
                <i class="tf-icons ri-star-fill ri-24px"></i>
                <i class="tf-icons ri-star-fill ri-24px"></i>
                <i class="tf-icons ri-star-fill ri-24px"></i>
                <i class="tf-icons ri-star-fill ri-24px"></i>
              </div>
              <div>
                <h6 class="mb-0">연구원 C</h6>
                <p class="mb-0 small">연구소장</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="container">
    <div class="swiper-logo-carousel pt-lg-4 mt-12">
      <div class="swiper" id="swiper-clients-logos">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="{{ '/assets/img/front-pages/branding/DGIST_logo.png' | relative_url }}"
              alt="client logo"
              class="client-logo"
              data-app-light-img="front-pages/branding/DGIST_logo.png"
              data-app-dark-img="front-pages/branding/DGIST_logo.png"
              style="width: auto; height: 60px" />
          </div>
          <div class="swiper-slide">
            <img
              src="{{ '/assets/img/front-pages/branding/DGIST_cprc_logo.png' | relative_url }}"
              alt="client logo"
              class="client-logo"
              data-app-light-img="front-pages/branding/DGIST_cprc_logo.png"
              data-app-dark-img="front-pages/branding/DGIST_cprc_logo.png"
              style="width: auto; height: 60px" />
          </div>
          <div class="swiper-slide">
            <img
              src="{{ '/assets/img/front-pages/branding/DGIST_sbdc_logo.png' | relative_url }}"
              alt="client logo"
              class="client-logo"
              data-app-light-img="front-pages/branding/DGIST_sbdc_logo.png"
              data-app-dark-img="front-pages/branding/DGIST_sbdc_logo.png"
              style="width: auto; height: 60px" />
          </div>
          <div class="swiper-slide">
            <img
              src="{{ '/assets/img/front-pages/branding/KBRI_logo.png' | relative_url }}"
              alt="client logo"
              class="client-logo"
              data-app-light-img="front-pages/branding/KBRI_logo.png"
              data-app-dark-img="front-pages/branding/KBRI_logo.png"
              style="width: auto; height: 60px" />
          </div>
          <div class="swiper-slide">
            <img
                    src="{{ '/assets/img/front-pages/branding/KNU_logo.png' | relative_url }}"
                    alt="client logo"
                    class="client-logo"
                    data-app-light-img="front-pages/branding/KNU_logo.png"
                    data-app-dark-img="front-pages/branding/KNU_logo.png"
                    style="width: auto; height: 60px" />
          </div>
          <div class="swiper-slide">
            <img
                    src="{{ '/assets/img/front-pages/branding/GNU_logo.png' | relative_url }}"
                    alt="client logo"
                    class="client-logo"
                    data-app-light-img="front-pages/branding/GNU_logo.png"
                    data-app-dark-img="front-pages/branding/GNU_logo.png"
                    style="width: auto; height: 60px" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
