<section id="landingTeam" class="section-py landing-team">
  <div class="container bg-icon-right position-relative">
    <h6 class="text-center d-flex justify-content-center align-items-center mb-6">
      <img
              src="{{ '/assets/img/front-pages/icons/section-tilte-icon.png' | relative_url }}"
              alt="section title icon"
              class="me-3" />
      <span class="text-uppercase">Our Great Team</span>
    </h6>
    <h5 class="text-center mb-2">
      <span class="display-5 fs-4 fw-bold">생명과학 및 AI 연구에서 App 개발</span>까지 풀 스택 역량 보유
    </h5>
    <p class="text-center fw-medium mb-4 mb-md-12 pb-7">
      내부적으로 기초 생명과학 연구와 인공지능 모델, 어플리케이션 개발을 개발하고 있으며, 질환 별 공동연구를 통해 부족한 역량을 보완하고 있습니다.
    </p>
    <div class="row gy-lg-5 gy-12 mt-2">
      <!-- Team Member 1 -->
      <div class="col-lg-3 col-sm-6">
        <div class="card card-hover-border-primary mt-4 mt-lg-0 shadow-none">
          <div class="bg-label-primary position-relative team-image-box">
            <img
                    src="{{ '/assets/img/front-pages/landing-page/team-member-1.png' | relative_url }}"
                    class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl"
                    alt="human image" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mb-1">지상호</h5>
            <p class="card-text mb-3">대표이사</p>
            <div class="text-center team-media-icons">
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-facebook-circle-line ri-22px me-1"></i>
              </a>
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-twitter-line ri-22px me-1"></i>
              </a>
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-linkedin-box-line ri-22px"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Team Member 2 -->
      <div class="col-lg-3 col-sm-6">
        <div class="card card-hover-border-danger mt-4 mt-lg-0 shadow-none">
          <div class="bg-label-primary position-relative team-image-box">
            <img
                    src="{{ '/assets/img/front-pages/landing-page/team-member-2.png' | relative_url }}"
                    class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl"
                    alt="human image" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mb-1">김범수</h5>
            <p class="card-text mb-3">연구소장</p>
            <div class="text-center team-media-icons">
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-facebook-circle-line ri-22px me-1"></i>
              </a>
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-twitter-line ri-22px me-1"></i>
              </a>
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-linkedin-box-line ri-22px"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Team Member 3 -->
      <div class="col-lg-3 col-sm-6">
        <div class="card card-hover-border-success mt-4 mt-lg-0 shadow-none">
          <div class="bg-label-danger position-relative team-image-box">
            <img
                    src="{{ '/assets/img/front-pages/landing-page/team-member-3.png' | relative_url }}"
                    class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl"
                    alt="human image" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mb-1">김태형</h5>
            <p class="card-text mb-3">연구원 (인공지능)</p>
            <div class="text-center team-media-icons">
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-facebook-circle-line ri-22px me-1"></i>
              </a>
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-twitter-line ri-22px me-1"></i>
              </a>
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-linkedin-box-line ri-22px"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Team Member 4 -->
      <div class="col-lg-3 col-sm-6">
        <div class="card card-hover-border-info mt-4 mt-lg-0 shadow-none">
          <div class="bg-label-danger position-relative team-image-box">
            <img
                    src="{{ '/assets/img/front-pages/landing-page/team-member-4.png' | relative_url }}"
                    class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl"
                    alt="human image" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mb-1">이경민</h5>
            <p class="card-text mb-3">연구원 (인공지능)</p>
            <div class="text-center team-media-icons">
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-facebook-circle-line ri-22px me-1"></i>
              </a>
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-twitter-line ri-22px me-1"></i>
              </a>
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-linkedin-box-line ri-22px"></i>
              </a>
            </div>
          </div>
        </div>
      </div>


      <!-- Team Member 5 -->
      <div class="col-lg-3 col-sm-6">
        <div class="card card-hover-border-info mt-4 mt-lg-0 shadow-none">
          <div class="bg-label-info position-relative team-image-box">
            <img
                    src="{{ '/assets/img/front-pages/landing-page/team-member-6.png' | relative_url }}"
                    class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl"
                    alt="human image" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mb-1">김완수</h5>
            <p class="card-text mb-3">연구원 (생명과학)</p>
            <div class="text-center team-media-icons">
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-facebook-circle-line ri-22px me-1"></i>
              </a>
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-twitter-line ri-22px me-1"></i>
              </a>
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-linkedin-box-line ri-22px"></i>
              </a>
            </div>
          </div>
        </div>
      </div>


      <!-- Team Member 6 -->
      <div class="col-lg-3 col-sm-6">
        <div class="card card-hover-border-info mt-4 mt-lg-0 shadow-none">
          <div class="bg-label-success position-relative team-image-box">
            <img
                    src="{{ '/assets/img/front-pages/landing-page/team-member-5.png' | relative_url }}"
                    class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl"
                    alt="human image" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mb-1">이봄</h5>
            <p class="card-text mb-3">개발자 (프론트)</p>
            <div class="text-center team-media-icons">
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-facebook-circle-line ri-22px me-1"></i>
              </a>
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-twitter-line ri-22px me-1"></i>
              </a>
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-linkedin-box-line ri-22px"></i>
              </a>
            </div>
          </div>
        </div>
      </div>


      <!-- Team Member 7 -->
      <div class="col-lg-3 col-sm-6">
        <div class="card card-hover-border-info mt-4 mt-lg-0 shadow-none">
          <div class="bg-label-success position-relative team-image-box">
            <img
                    src="{{ '/assets/img/front-pages/landing-page/team-member-7.png' | relative_url }}"
                    class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl"
                    alt="human image" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mb-1">전민지</h5>
            <p class="card-text mb-3">개발자 (백엔드)</p>
            <div class="text-center team-media-icons">
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-facebook-circle-line ri-22px me-1"></i>
              </a>
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-twitter-line ri-22px me-1"></i>
              </a>
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-linkedin-box-line ri-22px"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Team Member 8  -->
      <div class="col-lg-3 col-sm-6">
        <div class="card card-hover-border-info mt-4 mt-lg-0 shadow-none">
          <div class="bg-label-primary position-relative team-image-box">
            <img
                    src="{{ '/assets/img/front-pages/landing-page/team-member-8.png' | relative_url }}"
                    class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl"
                    alt="human image" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title mb-1">이효정</h5>
            <p class="card-text mb-3">행정</p>
            <div class="text-center team-media-icons">
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-facebook-circle-line ri-22px me-1"></i>
              </a>
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-twitter-line ri-22px me-1"></i>
              </a>
              <a href="javascript:void(0);" class="text-heading" target="_blank">
                <i class="tf-icons ri-linkedin-box-line ri-22px"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
