<section id="landingFAQ" class="section-py bg-body landing-faq">
  <div class="container bg-icon-right position-relative">
    <img
      src="{{ '/assets/img/front-pages/icons/bg-right-icon-light.png' | relative_url }}"
      alt="section icon"
      class="position-absolute top-0 end-0"
      data-speed="1"
      data-app-light-img="front-pages/icons/bg-right-icon-light.png"
      data-app-dark-img="front-pages/icons/bg-right-icon-dark.png" />
    <h6 class="text-center d-flex justify-content-center align-items-center mb-6">
      <img
        src="{{ '/assets/img/front-pages/icons/section-tilte-icon.png' | relative_url }}"
        alt="section title icon"
        class="me-3" />
      <span class="text-uppercase">{{ site.data[page.lang].faq.section_title }}</span>
    </h6>
    <h5 class="text-center mb-2">{{ site.data[page.lang].faq.main_title }}</h5>
    <p class="text-center fw-medium mb-4 mb-md-12 pb-4">
      {{ site.data[page.lang].faq.contact_info }}
    </p>
    <div class="row gy-5">
      <div class="col-lg-5">
        <div class="text-center">
          <img
            src="{{ '/assets/img/front-pages/landing-page/sitting-girl-with-laptop.png' | relative_url }}"
            alt="sitting girl with laptop"
            class="faq-image scaleX-n1-rtl" />
        </div>
      </div>
      <div class="col-lg-7">
        <div class="accordion" id="accordionFront">

          {% assign faq_items = site.data[page.lang].faq.items %}
          
          {% for item in faq_items %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="head-{{ item.id }}">
              <button
                type="button"
                class="accordion-button collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#{{ item.id }}"
                aria-expanded="false"
                aria-controls="{{ item.id }}">
                {{ item.question }}
              </button>
            </h2>
            <div
              id="{{ item.id }}"
              class="accordion-collapse collapse"
              aria-labelledby="head-{{ item.id }}"
              data-bs-parent="#accordionFront">
              <div class="accordion-body">
                {{ item.answer }}
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>
