<section id="landingPricing" class="section-py bg-body landing-pricing">
  <div class="container bg-icon-left position-relative">
    <img
      src="{{ '/assets/img/front-pages/icons/bg-left-icon-light.png' | relative_url }}"
      alt="section icon"
      class="position-absolute top-0 start-0"
      data-speed="1"
      data-app-light-img="front-pages/icons/bg-left-icon-light.png"
      data-app-dark-img="front-pages/icons/bg-left-icon-dark.png" />
    <h6 class="text-center d-flex justify-content-center align-items-center mb-6">
      <img
        src="{{ '/assets/img/front-pages/icons/section-tilte-icon.png' | relative_url }}"
        alt="section title icon"
        class="me-3" />
      <span class="text-uppercase">{{ site.data[page.lang].pricing.section_title }}</span>
    </h6>
    <h5 class="text-center mb-2">
      <span class="display-5 fs-4 fw-bold">{{ site.data[page.lang].pricing.main_title }}</span>
    </h5>
    <p class="text-center fw-medium mb-10 mb-md-12 pb-lg-4">
      {{ site.data[page.lang].pricing.main_description }}
    </p>

    <div class="row gy-6 pt-md-4">
      <!-- Basic Plan -->
      <div class="col-xl-4 col-lg-6">
        <div class="card shadow-none border">
          <div class="card-header border-0 p-6 p-sm-8">
            <h4 class="mb-2 pb-1 text-center">{{ site.data[page.lang].pricing.plans.basic.title }}</h4>
            <div class="d-flex align-items-center">
              <h5 class="d-flex mb-0">
                <span class="display-3 fw-bold">{{ site.data[page.lang].pricing.plans.basic.price }}</span>
              </h5>
              <div class="ms-2 ps-1">
                <h6 class="mb-1">{{ site.data[page.lang].pricing.plans.basic.subtitle }}</h6>
                <p class="small mb-0 text-body">{{ site.data[page.lang].pricing.plans.basic.description }}</p>
              </div>
            </div>
            <img src="{{ '/assets/img/front-pages/icons/smiling-icon.png' | relative_url }}" alt="smiling icon" />
          </div>
          <div class="card-body p-6 p-sm-8 pt-0">
            <ul class="list-unstyled">
              {% assign items = site.data[page.lang].pricing.plans.basic.features | split: "|" %}
              {% for item in items %}
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  {{ item }}
                </h5>
              </li>
              {% endfor %}
            </ul>
            <hr />
            <div class="d-flex justify-content-between align-items-center flex-wrap">
              <div class="me-1">
                <h6 class="mb-1">{{ site.data[page.lang].pricing.support }}</h6>
                <p class="small mb-0">{{ site.data[page.lang].pricing.support_via }}</p>
              </div>
              <span class="badge bg-label-primary rounded-pill">{{ site.data[page.lang].pricing.avg_time }}</span>
            </div>
            <div class="text-center mt-6 pt-2">
              <a href="https://lite.knockg.com" class="btn btn-outline-primary w-100">{{ site.data[page.lang].pricing.start_now }}</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Favourite Plan -->
      <div class="col-xl-4 col-lg-6">
        <div class="card border-primary border-2 shadow-none">
          <div class="card-header border-0 p-6 p-sm-8">
            <h4 class="mb-2 pb-1 text-center">{{ site.data[page.lang].pricing.plans.favourite.title }}</h4>
            <div class="d-flex align-items-center">
              <h5 class="d-flex mb-0">
                <span class="display-3 fw-bold">{{ site.data[page.lang].pricing.plans.favourite.price }}</span>
              </h5>
              <div class="ms-2 ps-1">
                <h6 class="mb-1">{{ site.data[page.lang].pricing.plans.favourite.subtitle }}</h6>
                <p class="small mb-0 text-body">{{ site.data[page.lang].pricing.plans.favourite.description }}</p>
              </div>
            </div>
            <img src="{{ '/assets/img/front-pages/icons/smiling-icon.png' | relative_url }}" alt="smiling icon" />
          </div>
          <div class="card-body p-6 p-sm-8 pt-0">
            <ul class="list-unstyled">
              {% assign items = site.data[page.lang].pricing.plans.favourite.features | split: "|" %}
              {% for item in items %}
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  {{ item }}
                </h5>
              </li>
              {% endfor %}
            </ul>
            <hr />
            <div class="d-flex justify-content-between align-items-center flex-wrap">
              <div class="me-1">
                <h6 class="mb-1">{{ site.data[page.lang].pricing.support }}</h6>
                <p class="small mb-0">{{ site.data[page.lang].pricing.support_via }}</p>
              </div>
              <span class="badge bg-label-primary rounded-pill">{{ site.data[page.lang].pricing.avg_time }}</span>
            </div>
            <div class="text-center mt-6 pt-2">
              <a href="https://www.knockg.com" class="btn btn-outline-primary w-100">{{ site.data[page.lang].pricing.start_now }}</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Paid Plan -->
      <div class="col-xl-4 col-lg-6">
        <div class="card shadow-none border">
          <div class="card-header border-0 p-6 p-sm-8">
            <h4 class="mb-2 pb-1 text-center">{{ site.data[page.lang].pricing.plans.paid.title }}</h4>
            <div class="d-flex align-items-center">
              <h5 class="d-flex mb-0">
                <sup class="h5 mt-4">{{ site.data[page.lang].pricing.plans.paid.prefix }}</sup>
                <span class="display-3 fw-bold">{{ site.data[page.lang].pricing.plans.paid.price }}</span>
              </h5>
              <div class="ms-2 ps-1">
                <h6 class="mb-1">{{ site.data[page.lang].pricing.plans.paid.subtitle }}</h6>
                <p class="small mb-0 text-body">{{ site.data[page.lang].pricing.plans.paid.description }}</p>
              </div>
            </div>
            <img src="{{ '/assets/img/front-pages/icons/smiling-icon.png' | relative_url }}" alt="smiling icon" />
          </div>
          <div class="card-body p-6 p-sm-8 pt-0">
            <ul class="list-unstyled">
              {% assign items = site.data[page.lang].pricing.plans.paid.features | split: "|" %}
              {% for item in items %}
              <li>
                <h5 class="mb-3">
                  <img
                    src="{{ '/assets/img/front-pages/icons/list-arrow-icon.png' | relative_url }}"
                    alt="list arrow icon"
                    class="me-2 pe-1 scaleX-n1-rtl" />
                  {{ item }}
                </h5>
              </li>
              {% endfor %}
            </ul>
            <hr />
            <div class="d-flex justify-content-between align-items-center flex-wrap">
              <div class="me-1">
                <h6 class="mb-1">{{ site.data[page.lang].pricing.support }}</h6>
                <p class="small mb-0">{{ site.data[page.lang].pricing.support_via_full }}</p>
              </div>
              <span class="badge bg-label-primary rounded-pill">{{ site.data[page.lang].pricing.avg_time }}</span>
            </div>
            <div class="text-center mt-6 pt-2">
              <a href="#" onclick="ChannelIO('showMessenger'); return false;" class="btn btn-outline-primary w-100">{{ site.data[page.lang].pricing.request_quote }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
